.form {
    width: 700px;
    background:
    linear-gradient(135deg, #708090 21px, #04c8DE 22px, #04c8DE 24px, transparent 24px, transparent 67px, #FF5EDF 67px, #FF5EDF 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #04c8DE 22px, #04c8DE 24px, transparent 24px, transparent 67px, #FF5EDF 67px, #FF5EDF 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px;
}